* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root {
    --header-color: hsl(209, 86%, 44%);
    --header-button-color: hsl(234, 52%, 41%);
    --header-button-border: hsl(204, 100%, 56%);
}
input,
button {
    font-family: "Roboto", sans-serif;
}
button:hover {
    cursor: pointer;
}

/* Header Section */
h1 {
    color: blue;
}
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: var(--header-color);
    height: 80px;
}
header > div {
    display: flex;
    justify-content: space-between;
    align-items: end;

}
header > div > button {
    font-family: "Roboto", sans-serif;
    background-color: hsl(234, 52%, 41%);
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    width: 200px;
    margin: 15px;
    border-radius: 25px;
    border: var(--header-button-border) solid 3px;
    padding: 5px;
}

.views button {
    margin-bottom: 0;
    border-bottom: none;
    border-radius: 25px 25px 0 0;
    padding: 10px 5px 10px;
}

.news {
    position: relative;
}
.folder-dialog {
    position: absolute;
    top: 90px;
    width: 300px;
    padding: 10px 5px;
    border: var(--header-button-border) 2px solid;
    border-radius: 25px;
    background-color: var(--header-button-color)
}
.folder-dialog form {
    display: flex;
    flex-direction: column;
}
.folder-dialog label {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
}
.folder-dialog input {
    border-radius: 5px;
    font-size: 1.25rem;
}
.folder-dialog-buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.folder-dialog-buttons button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}

/* Main */
main {
    display: grid;
    grid-template-columns: 1fr 10fr;
    height: calc(100vh - 80px);
}
.sidebar {
    background-color: var(--header-color);
    width: 250px;
}
.sidebar li, .sidebar p, .sidebar h6 {
    color: white;
    
    
    
    margin-top: 20px;
}
.sidebar h6 {
    margin-left: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}
li {
    list-style: none;
    font-size: 1.25rem;
    margin-left: 15%;
}
.card-viewer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
}

.card {
    max-width: 400px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
}
.card h3 {
    font-size: 1.75rem;
    padding-top: 40px;
}
.card > p {
    padding-top: 30px;
}

.card p, .card h3 {
    font-weight: bold;
}

.due-box {
    position: absolute;
    top: 0px;
    right: -1px;
    background-color: var(--header-color);
    height: 20%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-top: none;
    border-right: none;
}
.due-box::before {
    content: "";
    position: absolute;
    left: -50px;
    bottom: 0px;
    border: 20px solid transparent;
    border-right: 30px var(--header-color) solid;
}
.due-box p {
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

.urgent {
    background-color: hsl(12, 68%, 45%);
}
.important {
    background-color: hsl(64, 93%, 45%);
}
.unimportant {
    background-color: hsl(103, 68%, 44%);
}

.undefined {
    background-color: hsl(103, 6%, 77%);
}