* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root {
    --header-color: hsl(209, 86%, 44%);
    --header-button-color: hsl(234, 52%, 41%);
    --header-button-border: hsl(204, 100%, 56%);
}
button:hover {
    cursor: pointer;
}

/* Header Section */
h1 {
    color: blue;
}
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: var(--header-color);
    height: 80px;
}
header > div {
    display: flex;
    justify-content: space-between;
    align-items: end;

}
header > div > button {
    font-family: "Roboto", sans-serif;
    background-color: hsl(234, 52%, 41%);
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    width: 200px;
    margin: 15px;
    border-radius: 25px;
    border: var(--header-button-border) solid 3px;
    padding: 5px;
}

.views button {
    margin-bottom: 0;
    border-bottom: none;
    border-radius: 25px 25px 0 0;
    padding: 10px 5px 10px;
}
/* Main */
main {
    display: grid;
    grid-template-columns: 1fr 10fr;
    height: calc(100vh - 80px);
}
.sidebar {
    background-color: var(--header-color);
}
.sidebar li, .sidebar p {
    color: white;
    
    
    
    margin-top: 20px;
}
.sidebar p {
    margin-left: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}
li {
    list-style: none;
    font-size: 1.25rem;
    margin-left: 15%;
}