* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root {
    --header-color: hsl(209, 86%, 44%);
    --header-button-color: hsl(234, 52%, 41%);
    --header-button-border: hsl(204, 100%, 56%);
    --urgent-color: hsl(17, 80%, 60%);
    --important-color: hsl(64, 93%, 45%);
    --unimportant-color: hsl(103, 68%, 44%);
    --undefined-color: hsl(103, 6%, 77%);
    --container-color: hsl(177, 52%, 41%);
    --container-border-color: hsl(271, 64%, 38%);
}
input,
button {
    font-family: "Roboto", sans-serif;
}
button:hover {
    cursor: pointer;
}

/* Header Section */
h1 {
    color: blue;
}
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: var(--header-color);
    height: 80px;
}
header > div {
    display: flex;
    justify-content: space-between;
    align-items: end;

}
header > div > button {
    font-family: "Roboto", sans-serif;
    background-color: hsl(234, 52%, 41%);
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    width: 200px;
    margin: 15px;
    border-radius: 25px;
    border: var(--header-button-border) solid 3px;
    padding: 5px;
}

.views button {
    margin-bottom: 0;
    border-bottom: none;
    border-radius: 25px 25px 0 0;
    padding: 10px 5px 10px;
}

.news {
    position: relative;
}
.folder-dialog {
    position: absolute;
    top: 90px;
    width: 300px;
    padding: 10px 5px;
    border: var(--header-button-border) 2px solid;
    border-radius: 25px;
    background-color: var(--header-button-color);
    z-index: 5;
}
.folder-dialog form {
    display: flex;
    flex-direction: column;
}
.folder-dialog label {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
}
.folder-dialog input {
    border-radius: 5px;
    font-size: 1.25rem;
}
.folder-dialog-buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.folder-dialog-buttons button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}

/* Main */
main {
    display: grid;
    grid-template-columns: 1fr 10fr;
    height: calc(100vh - 80px);
}
.sidebar {
    background-color: var(--header-color);
    width: 250px;
}
.sidebar li, .sidebar p, .sidebar h6 {
    color: white;
    
    
    
    margin-top: 20px;
}
.sidebar h6 {
    margin-left: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}
li {
    list-style: none;
    font-size: 1.25rem;
    margin-left: 15%;
}

/* Card Viewer Section */
.card-viewer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
}

.card {
    max-width: 400px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
}
.card h3 {
    font-size: 1.75rem;
    padding-top: 40px;
}
.card > p {
    padding-top: 30px;
}

.card p, .card h3 {
    font-weight: bold;
}

.due-box {
    position: absolute;
    top: 0px;
    right: -1px;
    background-color: var(--header-color);
    height: 20%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-top: none;
    border-right: none;
}
.due-box::before {
    content: "";
    position: absolute;
    left: -50px;
    bottom: 0px;
    border: 20px solid transparent;
    border-right: 30px var(--header-color) solid;
}
.due-box p {
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

.urgent{
    background-color: var(--urgent-color)
}
.important {
    background-color: var(--important-color);
}
.unimportant {
    background-color: var(--unimportant-color);
}

.undefined {
    background-color: var(--undefined-color);
}

/* Card Modal Section */

.card-modal {
    display: none;
}

.card-modal[open] {
    height: 60vh;
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--header-color);
    border: var(--header-button-border) 5px solid;
    border-radius: 25px;
}
.card-modal h3, .card-modal p {
    color: white;
}

.card-modal h3 {
    font-size: 4rem;
}
.card-modal p {
    font-size: 1.3rem;
}
.card-modal > p {
    padding: 25px 0;
}

.urgent-text {
    color: var(--urgent-color);
}

.date-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 150px;
}
/* Checkboxes Section */
.note-checkbox-container {
    display: flex;
    justify-content: space-around;
}

.checkboxes-container,
.notes-container {
    border: 3px solid var(--container-border-color);
    border-radius: 10px;
    width: 500px;
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    background-color: var(--container-color);
    padding: 30px 15px;
    position: relative;
}
.checkbox {
    display: flex;
    justify-content: space-between;
}

.checkbox-body {
    display: flex;
    margin: 20px 0px;
}
.checkbox-body:hover {
    cursor: pointer;
}
.marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 8px;
    position: relative;
    top: 3px;
    
}

.yes {
    background-color: white;
}

.checkbox-buttons {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 60px;
}
.checkbox-buttons button {
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    font-size: 1.5rem;
}

.checkbox:hover .checkbox-buttons {
    display: flex;
}
.checkbox:hover {
    border: 1px rgba(0, 0, 0, 0.384) solid;
    border-left: none;
    border-right: none;
}

.edit-input {
    font-size: inherit;
    font-family: inherit;
    color: white;
    font-weight: bold;
    background: none;
    border: none;
}

.hidden {
    display: none;
}

.notes-container textarea {
    background: none;
    font-size: inherit;
    font-family: inherit;
    color: white;
    font-weight: bold;
    border: none;
    width: 100%;
    height: 100%;
}

.container-button {
    position: absolute;
    background-color: var(--header-color);
    border: 3px solid var(--container-border-color);
    border-right: none;
    border-top: none;
    top: 0px;
    right: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.15rem;
    height: 30px;
    padding: 5px;
}