* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root {
    --header-color: hsl(209, 86%, 44%);
    --header-button-color: hsl(234, 52%, 41%);
    --header-button-border: hsl(204, 100%, 56%);
    --header-button-border-lighter: hsl(204, 100%, 68%);
    --urgent-color: hsl(17, 80%, 60%);
    --important-color: hsl(64, 93%, 45%);
    --unimportant-color: hsl(103, 68%, 44%);
    --undefined-color: hsl(103, 6%, 77%);
    --complete-color: hsl(122,76%,62%);
    --container-color: hsl(177, 52%, 41%);
    --container-border-color: hsl(271, 64%, 38%);
}
input,
button {
    font-family: "Roboto", sans-serif;
}
button:hover {
    cursor: pointer;
}

/* Header Section */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
}
.logo .logo-marker {
    width: 30px;
    height: 30px;
    top: 8px;
    margin: 0px
}
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: var(--header-color);
    height: 80px;
}
header > div {
    display: flex;
    justify-content: space-between;
    align-items: end;

}
header > div > button {
    font-family: "Roboto", sans-serif;
    background-color: hsl(234, 52%, 41%);
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    width: 200px;
    margin: 15px;
    border-radius: 25px;
    border: var(--header-button-border) solid 3px;
    padding: 5px;
}

.views button {
    margin-bottom: 0;
    border-bottom: none;
    border-radius: 25px 25px 0 0;
    padding: 10px 5px 10px;
}
/* Form Dialog Section */
.news {
    position: relative;
}
.new-dialog {
    position: absolute;
    top: 90px;
    width: 300px;
    padding: 10px 5px;
    border: var(--header-button-border) 2px solid;
    border-radius: 25px;
    background-color: var(--header-button-color);
    z-index: 5;
}
.new-dialog form {
    display: flex;
    flex-direction: column;
}
.new-dialog label {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
}
.new-dialog input {
    border-radius: 5px;
    font-size: 1.25rem;
}
.dialog-buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.dialog-buttons button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}
.error-dialog {
    color: white;
    background-color: var(--header-button-color);
    border-color: var(--header-button-border);
    border-radius: 25px;
    font-weight: bold;
}
/* Main */
main {
    display: grid;
    grid-template-columns: 1fr 10fr;
    height: calc(100vh - 80px);
}
.sidebar {
    background-color: var(--header-color);
    width: 250px;
}
 .sidebar p, .sidebar li, .sidebar h6 {
    color: white;
}
.sidebar li,  .sidebar h6 {
    margin-top: 20px;
}
.sidebar h6 {
    margin-left: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}
.listed-folder {
    list-style: none;
    font-size: 1.25rem;
    padding-left: 7.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 7.5%;
    position: relative;
}
.marker-text {
    display: flex;
}
.listed-folder p,
.folder-buttons button {
    cursor: pointer;
}
.folder-buttons {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 60px
}
.listed-folder:hover .folder-buttons {
    display: flex;
}
.folder-buttons button {
    background: none;
    width: 25px;
    max-height: 25px;
    height: auto;
    border: none;
    font-size: 1.5rem;
    text-align: center;
}
.list-of-todos-dialog {
    display: none;
}
.list-of-todos-dialog:open {
    width: 300px;
    background-color: var(--header-button-color);
    border-color: var(--header-button-border);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 170px;
    overflow: auto;
    position: absolute;
    left: 230px;
    top: 10px;
    z-index: 5;
}
.todo-dialog-line {
    display: flex;
    margin: 5px 8px;
    align-items: center;
}
.todo-dialog-line:hover {
    cursor: pointer;
}
.todo-dialog-line button {
    background: none;
    border: none;
    color: white;
    font-size: 1.25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100%-20px);
}
.todo-dialog-line .marker {
    position: static;
    min-width: 20px;
}
.todo-error {
    left: 480px;
    top: 45px;
}

.folder-delete-dialog {
    left: 250px;
    z-index: 8;
    width: 200px;
    text-align: center;
}
/* Card Viewer Section */
.card-viewer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
}

.card {
    max-width: 400px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
}
.card:hover {
    cursor: pointer;
}
.card h3 {
    font-size: 1.75rem;
    padding-top: 40px;
}
.card > p {
    padding-top: 30px;
}

.card p, .card h3 {
    font-weight: bold;
}

.due-box {
    position: absolute;
    top: 0px;
    right: -1px;
    background-color: var(--header-color);
    height: 20%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-top: none;
    border-right: none;
}
.due-box::before {
    content: "";
    position: absolute;
    left: -50px;
    bottom: 0px;
    border: 20px solid transparent;
    border-right: 30px var(--header-color) solid;
}
.due-box p {
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

.urgent{
    background-color: var(--urgent-color)
}
.important {
    background-color: var(--important-color);
}
.unimportant {
    background-color: var(--unimportant-color);
}

.undefined {
    background-color: var(--undefined-color);
}
.complete {
    background-color: var(--complete-color);
}

/* Modal Section */

.modal {
    display: none;
}

.modal[open] {
    height: 60vh;
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--header-color);
    border: var(--header-button-border) 5px solid;
    border-radius: 25px;
    text-align: center;
    cursor: default;
}
.modal h3, .modal p {
    color: white;
}

.modal h3 {
    font-size: 4rem;
}
.modal p {
    font-size: 1.3rem;
}
.modal > p {
    padding: 25px 0;
}

.urgent-text {
    color: var(--urgent-color);
}
.important-text {
    color: var(--important-color);
}

.unimportant-text {
    color: var(--unimportant-color);
}

.undefined-text {
    color: var(--undefined-color);
}
.complete-text {
    color: var(--complete-color)
}
.date-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 150px;
}
/* Checkboxes Section */
.modal-box-container {
    display: flex;
    justify-content: space-around;
}

.modal-box{
    border: 3px solid var(--container-border-color);
    border-radius: 10px;
    width: 500px;
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    background-color: var(--container-color);
    padding: 30px 15px;
    position: relative;
}
.checkbox {
    display: flex;
    justify-content: space-between;
}

.checkbox-body{
    display: flex;
    margin: 20px 0px;
}
.checkbox-body:hover,
.folder-item {
    cursor: pointer;
}
.marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 8px;
    position: relative;
    top: 3px;
    
}

.yes {
    background-color: white;
}

.checkbox-buttons {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 60px;
}
.checkbox-buttons button {
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    font-size: 1.5rem;
}

.checkbox:hover .checkbox-buttons {
    display: flex;
}
.checkbox:hover,
.folder-item:hover,
.listed-folder:hover {
    border: 1px rgba(0, 0, 0, 0.384) solid;
    border-left: none;
    border-right: none;
}

.edit-input {
    font-size: inherit;
    font-family: inherit;
    color: white;
    font-weight: bold;
    background: none;
    border: none;
}

.hidden  {
    display: none !important;
}

.notes-container textarea {
    background: none;
    font-size: inherit;
    font-family: inherit;
    color: white;
    font-weight: bold;
    border: none;
    width: 100%;
    height: 100%;
}

.container-button {
    position: absolute;
    background-color: var(--header-color);
    border: 3px solid var(--container-border-color);
    border-right: none;
    border-top: none;
    top: 0px;
    right: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.15rem;
    height: 30px;
    padding: 5px;
}

.new-checkbox-dialog {
    top: 40px;
    left: 190px;
}

.checkbox-error {
    top: 90px;
}

.complete-box {
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    border: solid 3px var(--container-border-color);
    background-color: var(--container-color);
    padding: 6px;
    border-top: none;
    border-left: none;
    border-radius: 0px 0px 5px 0px;
}
.complete-box:hover {
    cursor: pointer;
}
.complete-box button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.complete-box .marker {
    top: 5px;
}
.delete-dialog-button {
    position: absolute;
    right: 0;
    top: 0;
    border: solid 3px var(--container-border-color);
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 5px;
    background-color: var(--container-color);
    padding: 6px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    width: 45px;
}
.delete-dialog {
    background-color: var(--header-button-color);
    border: 3px solid var(--header-button-border);
    border-radius: 8px;
    padding: 5px;
}
.modal-delete-dialog {
    left: 85%;
    top: 50px;
    
    width: 200px
}
.confirm-delete-container {
    display: flex;
    justify-content: space-around;
}
.delete-dialog button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}
/* Calendar View Section */

.calendar-viewer, .modal-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    padding: 15px 0px;
    grid-template-rows: 40px 50px;
    justify-items: center;
    align-items: center;
}
.calendar-viewer {
    height: calc(100vh - 80px)
}
.calendar-header,
.modal-calendar-header {
    grid-column: span 7;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.calendar-header h1 {
    color: var(--header-color);
}
.calendar-header button {
    background: none;
    border: none;
}
.calendar-header button img {
    width: 50px;
}

.day {
    border: 1px solid rgba(0, 0, 0, 0.349);
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
}
.day > p {
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    text-align: center;
    transition: all 0.2s;
}
.day:hover > p,
.modal-day:hover > p {
    background-color: rgba(128, 128, 128, 0.37);
}
.today {
    background-color: var(--header-button-border);
}
.modal-day.selected {
    background-color: rgba(128, 128, 128, 0.432);
}
.day:hover .today,
.modal-day:hover .today {
    background-color: var(--header-button-border-lighter);
}

.todo-day {
    padding: 5px 10px;
    margin: 10px 5px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.todo-day:hover {
    cursor: pointer;
}

.todo-day-title {
    max-width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    
    text-overflow: ellipsis;
}

.todo-overflow {
    padding: 5px 10px;
}
.todo-overflow:hover {
    cursor: pointer;
}


/* New Todo modal section */
.modal-box h1 {
    color: white;
}
.todo-modal form {
    display: flex;
    flex-direction: column;
}
.todo-modal input,
.todo-modal select {
    width: 250px;
    font-size: inherit;
    border-radius: 5px;
}
.todo-modal label {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}
.name-desc-container {
    padding: 1.25% 0;
}
.all-time-container {
    display: flex;
    justify-content: space-around;
}

.modal-calendar {
    max-height: 300px;
    min-height: 300px;
    width: 500px;
    overflow: hidden;
}
.modal-calendar button {
    background: none;
    border: none;
}
.modal-calendar-header button {
    width: 25px;
    
}
.modal-day,
.modal-day p {
    border-radius: 50%;

}
.modal-day {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-day p {
    padding-top: 3px;
    height: 30px;
    width: 30px;
}
.folder-box {
    padding: 10px 15px;
}
.folder-item {
    display: flex;
    padding: 20px 0;
}
#todo-time {
    width: revert;
}
.date-time-container,
.priority-container {
    width: 500px;
    padding-bottom: 0.5%;
}
.date-container {
    text-align: left;
}
.date-time-container label{
    padding-left: 2%;
}
